@{
    ViewData["Title"] = "Home Page";
}
<head>
    <link rel="stylesheet" href="@Url.Content("~/css/index.css")" asp-append-version="true" />
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col text-end align-self-center"><h1>SPACE</h1></div>
            <div class="col"><h1>ODYSSEY</h1></div>
        </div>
    </div>
</body>